*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  font-family:Arial,sans-serif;
  background:linear-gradient(-45deg,#050010,#140021,#240046,#000000);
  background-size:400% 400%;
  animation:bgMove 12s ease infinite;
  position:relative;
}

body::before,
body::after{
  content:"";
  position:absolute;
  border-radius:50%;
  filter:blur(70px);
}

body::before{
  width:320px;
  height:320px;
  background:rgba(255,0,255,.5);
  top:0;
  left:0;
}

body::after{
  width:280px;
  height:280px;
  background:rgba(0,255,255,.4);
  bottom:0;
  right:0;
}

@keyframes bgMove{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

.chat-container{
  width:380px;
  height:700px;
  background:rgba(20,20,30,.55);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,.1);
  border-radius:30px;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  box-shadow:
  0 0 30px #ff00ff,
  0 0 80px rgba(255,0,255,.3);
  z-index:2;
}

.header{
  padding:20px;
  text-align:center;
  color:white;
  font-size:26px;
  font-weight:bold;
  background:rgba(255,255,255,.05);
  border-bottom:1px solid rgba(255,255,255,.1);
}

.messages{
  flex:1;
  padding:15px;
  overflow-y:auto;
  color:white;
}

.message{
  padding:12px;
  margin:10px 0;
  border-radius:16px;
  background:#25253a;
  color:white;
}

.user{
  background:#ff00ff;
}

.input-area{
  display:flex;
  padding:12px;
  background:rgba(0,0,0,.4);
}

input{
  flex:1;
  padding:14px;
  border:none;
  border-radius:15px;
  background:#1e1e1e;
  color:white;
  outline:none;
}

button{
  border:none;
  padding:12px 16px;
  margin-left:8px;
  border-radius:14px;
  background:#ff00ff;
  color:white;
  cursor:pointer;
  font-weight:bold;
  box-shadow:0 0 15px #ff00ff;
}

button:hover{
  transform:translateY(-2px);
}

.ai-orb{
  width:80px;
  height:80px;
  margin:0 auto 10px;
  border-radius:50%;
  background:radial-gradient(circle,#ff00ff,#6a00ff,#000);
  box-shadow:
  0 0 25px #ff00ff,
  0 0 60px #6a00ff;
  animation:floatOrb 3s infinite ease-in-out;
}

@keyframes floatOrb{
  50%{
    transform:translateY(-10px);
  }
}

.sidebar{
  position:fixed;
  left:-260px;
  top:20px;
  width:220px;
  height:90vh;
  padding:20px;
  border-radius:25px;
  background:rgba(10,10,20,.95);
  backdrop-filter:blur(20px);
  transition:.4s;
  z-index:999;
  box-shadow:0 0 30px #ff00ff;
}

.sidebar h2{
  color:white;
}

.sidebar button{
  width:100%;
  margin-top:12px;
}

.menu-btn{
  position:absolute;
  top:20px;
  left:20px;
  width:50px;
  height:50px;
  border-radius:14px;
  font-size:22px;
}

.logout-btn{
  background:#ff004f;
}

@media(max-width:768px){

  .chat-container{
    width:95%;
    height:95vh;
  }

  .header{
    font-size:20px;
  }

  .menu-btn{
    width:45px;
    height:45px;
  }
}
